<launch>

 <!-- Turtlesim Node-->
<!--  <node pkg="turtlesim" type="turtlesim_node" name="sim"/> -->


 <!-- joy node -->
  <node respawn="true" pkg="joy"
        type="joy_node" name="turtle_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>

 <!-- Axes -->
  <param name="axis_linear" value="1" type="int"/>
  <param name="axis_angular" value="0" type="int"/>
  <param name="scale_linear" value="1" type="double"/>
  <param name="scale_angular" value="1" type="double"/>


  <node pkg="learning_joy" type="turtle_teleop_joy" name="joy"/>
  <node pkg="learning_joy" type="obstacle_bin" name="obstacle_avoidance"/>
  <node pkg="face_detection" type="rosfacedetect.py" name="faces"/>
</launch>

